* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

/* Navbar Section */

nav {
    position: absolute;
    width: 100%;
    height: 10vh;
}

nav .nav-container {
    width: 80%;
    margin: 0 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container .logo h1 {
    color: white;
}

.nav-container .links {
    display: flex;
}

.links a {
    position: relative;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.3rem;
}

.links a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 3px;
    width: 0%;
    border-radius: 20px;
    background-color: rgb(14, 191, 14);
    transition: 0.2s ease;
}

.links a:hover::before {
    width: 100%;
}

nav i {
    position: absolute;
    font-size: 2rem;
    top: 20px;
    right: 20px;
    color: white;
    opacity: 1;
}

nav i:hover {
    filter: drop-shadow(0 0 20px white);
}

.dropdown {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
    transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(-400px);
}

.dropdown .dropdown-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown .dropdown-link a {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
}

.dropdown a:hover {
    background-color: rgb(38, 112, 202);
}

/* Home Section */

.home {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1 {
    font-size: 4rem;
}

.home p {
    font-size: 2.5rem;
}

.home i {
    font-size: 4rem;
    transition: 0.3s linear;
    cursor: pointer;
}

.home i:hover {
    color: red;
    scale: 1.3;
}

/* Explore Section */

.explore {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    box-shadow: 0 0 50px 20px black;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    color: white;
    line-height: 8rem;
    font-size: 2rem;
}

.sub-heading {
    width: 60%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.explore .places {
    margin-top: 20px;
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 3rem;
    padding: 0 10px;
    grid-template-columns: repeat(3,1fr);
}

.places .card {
    border-radius: 10px;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.places .card img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-out;
}

.places .card .main-card {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 15px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.3s linear;
}

.places .card:hover {
    scale: 1.1;
}

.explore .more a {
    color: white;
    text-decoration: none;
    line-height: 4rem;
}

.explore .more a i {
    transition: 0.3s linear;
}

.explore .more a:hover i {
    transform: translateX(10px);
}

/* Gallery */

.gallery {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.gallery_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    gap: 2rem;
}

.image_gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    scale: 0.8;
}

.gallery_col {
    display: grid;
    place-content: center;
    gap: 1rem;
}

.gallery_col img {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 550px;
}

.gallery_content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.gallery_content > div {
    max-width: 400px;
}

.gallery_content .section_subtitle {
    margin-bottom: 2rem;
}

.gallery .btn {
    padding: 8px 40px;
    color: white;
    border: 2px solid rgb(4, 183, 168);
    background-color: rgb(4, 183, 168);
    outline: none;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s linear;
}

.gallery .btn:hover {
    border: 2px solid rgb(4, 183, 168);
    color: rgb(4, 183, 168);
    background-color: transparent;
}

/* Subscribe */

.subscribe {
    width: 100%;
    height: 40vh;
    background-image: url(gifted.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.subscribe_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subscribe_content {
    width: 50%;
    color: white;
    text-shadow: 0 0 10px black;
}

.subscribe_form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe_form form {
    width: 100%;
    max-width: 400px;
    display: flex;
    gap: 0.5rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.subscribe_form input {
    width: 60%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1rem;
}

.subscribe_form button {
    width: 30%;
    border-radius: 5rem;
    padding: 0 1rem;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: rgb(8, 173, 228);
    cursor: pointer;
}

.subscribe_form button:hover {
    scale: 1.1;
}

/* Footer Section */

.footer {
    background-color: black;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    padding: 20px 10px;
    color: white;
}

.footer_col h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer_col h3 span {
    color: white;
}

.footer_col p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer_col p:hover {
    color: blueviolet;
}

.footer_col p span {
    font-weight: 600;
}

.footer_col h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer_bar {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    color: red;
    border-top: 1px solid white;
}

@media(968px > width){
    .explore .places {
        grid-template-columns: repeat(2, 1fr);
    }
    .subscribe_container,
    .gallery_container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .subscribe_content {
        width: 90%;
    }
    .gallery_content,
    .image_gallery {
        margin-top: -100px;
    }
    .gallery_content {
        margin-bottom: 20px;
    }
}

@media (width < 600px) {
    nav i {
        opacity: 1;
    }
    .heading {
        line-height: 5rem;
    }
    .sub-heading {
        width: 100%;
    }
    .nav-container .links {
        display: none;
    }
    .explore .places {
        grid-template-columns: repeat(1, 1fr);
    }
    .image_gallery {
        grid-template-columns: repeat(1,1fr);
    }
    .subscribe_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer_container {
        grid-template-columns: repeat(2,1fr);
    }
}